@using RecipeArchive.Models;
@model RecipeArchive.Models.DataViewModels.RecipeBookViewModel;

@{
    ViewData["Title"] = "Index";
}

<h2>Home</h2>
<hr />
@{ 
    var x = 0;
}
<div class="container">
@foreach (var mealType in Model.mealTypes) {
    <div class="row">
        <h3>@mealType.Name</h3>
@foreach (MealDTO item in Model.meals[x])
{
        <div class="col-md-4 meal-item">
            <div class="media">
                <div class="media-left">
                    <a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealID">
                        @if (item.Picture != null)
                        {
                            <img class="media-object" src="~/images/imgMeal/@item.Picture" width="160" height="160">
                        } else { 
                            <img class="media-object" src="~/images/text.svg" width="160" height="160">
                        }
                    </a>
                </div>
                <div class="media-body">
                    <p><b><a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealID">@item.Name</a></b></p>
                    <p>@for(var i = 0; i < item.Stars; i++) {
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    }
                    @item.Stars</p>
                    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.MakeTime minute</p>
                    <p><b>Difficulty: </b>@item.DifficultyName</p>
                </div>
            </div>
            </div>
}
    </div>
    x++;
}
</div>