@using RecipeArchive.Models;
@using RecipeArchive.Extensions
@model PaginatedList<RecipeArchive.Models.MealDTO>

@{
    ViewData["Title"] = "Type";
}
<h2>@ViewData["CurrentFilter"]</h2>
<hr />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 meal-item">
                <div class="media">
                    <div class="media-left">
                        <a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealID">
                            @if (item.Picture != null)
                                {
                                    <img class="media-object" src="~/images/imgMeal/@item.Picture" width="160" height="160">
                                } else { 
                                    <img class="media-object" src="~/images/text.svg" width="160" height="160">
                                }
                        </a>
                    </div>
                    <div class="media-body">
                        <p><b><a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealID">@item.Name</a></b></p>
                            <p>@for(var i = 0; i < item.Stars; i++) {
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            }
                            @item.Stars</p>
                            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.MakeTime minute</p>
                            <p><b>Difficulty: </b>@item.DifficultyName</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
}

<a asp-action="Type"
   asp-route-page="@(Model.Index - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Type"
   asp-route-page="@(Model.Index + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>